<ion-content overflow-scroll="true" no-bounce>
	<ion-grid col-2 class="menu">
		<ion-row class="menu-principal">
          <a (click)="activerGestionCompte()"><ion-icon ios="ios-menu" md="md-menu"></ion-icon></a>
		</ion-row>	

		<ion-row class="menu-vertical">
			<div class="trait_actif"></div>
          <a>accueil</a>
		</ion-row>	
		<ion-row class="menu-vertical">
          <a  (click)="activerEcranVisite()">visite</a>
		</ion-row>		
		<ion-row class="menu-vertical">
          <a (click)="activerEcranAteliers()">ateliers</a>
		</ion-row>		
	</ion-grid>
	<ion-grid class="container" col-10>	
		<ion-row class="circle">
          <h1 *ngIf="token != null">Bonjour</h1>
          <h2 *ngIf="token != null">{{firstname}}</h2>
		</ion-row>
		<ion-row *ngFor="let exposition of expositions" class="exposition">
			<ion-col col-12>
				<h2>Exposition <span>en cours</span></h2>
			</ion-col>
			<ion-col col-12 class="">
				<ion-card  id="exposition_{{exposition.id}}" class="card-background-page" (click)="activerEcranVisite()">
					<img src="../assets/imgs/{{exposition.img}}"/>
					<div class="card-title">{{exposition.name}}</div>
				</ion-card>
			</ion-col>
			<ion-col col-12 class="">
				<p  class="presentation">{{exposition.description}}</p>
			</ion-col>
		</ion-row>
		<ion-row class="atelier">
				<h2>Ateliers <span>du jour</span></h2>
		</ion-row>
		<ion-scroll scrollbar-x="false" scrollbar-y="false"  scrollX="true">
			<ion-card *ngFor="let workshop of workshops" id="workshop_{{workshop.id}}" class="card-background-page" (click)="activerEcranAtelierChoix(workshop.id)">
				<img src="{{workshop.img}}"/>
				<div class="card-date">{{workshop.startTime}}</div>
				<div class="card-title">{{workshop.name}}</div>
			</ion-card>
		</ion-scroll>
		<!-- <ion-row class="atelier">
			<a> 
			<!-- Voir d’autres ateliers <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon> -->
			<!-- </a> 
		</ion-row>-->
	</ion-grid>
  
</ion-content>